@model IEnumerable<LibraryApplication.Entities.Genre>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GENRES</h2>
<p>@Html.ActionLink("New Genre", "Create", "Genres", null, new { @class = "btn btn-primary" })</p>
<table class="table" style="width:50%">
    <thead>
        <tr>
            <th>Genre</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var genre in Model)
    {
    <tbody>        
                <tr>
                    <td>@Html.ActionLink(genre.Name, "Edit", "Genres", new { id = genre.Id }, null)</td>
                    <td align="right">@Html.ActionLink("Delete", "Delete", "Genres", new { id = genre.Id }, new { @class = "btn btn-primary" })</td>
                </tr>                
    </tbody>
    }
</table>

